* {
    background-color: darkgray;

}
.search {
    width: 700px;
    padding-bottom: 15px;
    margin: auto;
}
.search-video {
    display: flex;
}

.video-info {
    width: 300px;
}
h1 {
    text-align: center;
    color: darkred;
}
img {
    width: 300px;
}
.slider {
    margin: 100px;
    padding: 20px;
}
.slider-pagination {
    font-size: 20px;
    color: black;
}
.slick-dots:active {
    color: #881798;
}
