img {
    width: 270px;
}
.flip_container {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
}
.flip-container, .front, .back {
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.flip_container {
    margin: auto;
}
.front, .back {
    backface-visibility: hidden;
    background-color: burlywood;
    border: gray 3px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
}
.image_and_title {
    width: 270px;
    height: 200px;
    position: absolute;
    overflow: hidden;
}
.video_title_block {
    width: 300px;
    top: 70px;
    left: -8px;
    background-color: rgba(0, 120, 201, 0.7);
    position: absolute;
    overflow: hidden;
    transform: rotate(8deg);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.video_title {
    width: 260px;
    margin: 0;
    color: white;
    padding: 0 40px;
}
.video_button {
    width: 100%;
    color: white;
    background-color: #B22222;
    border: none;
    height: 50px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.video_info_block {
    margin-top: 220px;
}
.video_info {
    font-weight: 700;
    font-size: 16px;
}
.video_button:hover {
    background-color: darkred;
}
.video_info_back_block {
    padding: 20px;
}
.video_info_back_block a {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
}
button:active, button:focus {
    outline: none;
}
.person_block {
    display: flex;
}
.person_img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}